page-about {

  .yellow{
    background-color: #f0ad4e;
    color: #fff;
}
.grid{
  border-bottom: 1px solid #ececec;
}
ion-select {
  max-width: 100%;
}
.toolbar-title-ios{
  color: black;
  font-size: 16px;
}
}
