@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot');
  /* IE9 */
  src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('../fonts/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}

.ion-ios-history:before {
  content: "\e605";
}

.ion-ios-history-outline:before {
  content: "\e605";
}

.ion-fault-process:before {
  content: "\e606";
}

.ion-group:before {
  content: "\e607";
}

.ion-ios-lift-name:before {
  content: "\e608";
}

.ion-md-lift-name:before {
  content: "\e608";
}

.ion-locate:before {
  content: "\e60a";
}

.ion-map-marker:before {
  content: "\e60b";
}

.ion-ios-more-info:before {
  content: "\e652";
}

.ion-md-more-info:before {
  content: "\e652";
}

.ion-offline:before {
  content: "\e60c";
}

.ion-lift:before {
  content: "\e60d";
}

.ion-operating-data:before {
  content: "\e60e";
}

.ion-ios-main:before {
  content: "\e60f";
}

.ion-ios-main-outline:before {
  content: "\e60f";
}

.ion-ios-menus:before {
  content: "\e610";
}

.ion-md-menus:before {
  content: "\e610";
}

.ion-push-news:before {
  content: "\e611";
}

.ion-ios-position:before {
  content: "\e612";
}

.ion-md-position:before {
  content: "\e612";
}

.ion-ios-mission-type:before {
  content: "\e613";
}

.ion-md-mission-type:before {
  content: "\e613";
}

.ion-ios-message:before {
  content: "\e614";
}

.ion-md-message:before {
  content: "\e614";
}

.ion-goto-lift:before {
  content: "\e617";
}

.ion-type:before {
  content: "\e618";
}

.ion-time:before {
  content: "\e619";
}

.ion-abnormal:before {
  content: "\e61a";
}

.ion-analyze:before {
  content: "\e61b";
}

.ion-daily-maintain:before {
  content: "\e61c";
}

.ion-checked:before {
  content: "\e61d";
}

.ion-ios-project-name:before {
  content: "\e61e";
}

.ion-md-project-name:before {
  content: "\e61e";
}

.ion-account:before {
  content: "\e61f";
}

.ion-ios-device:before {
  content: "\e620";
}

.ion-ios-device-outline:before {
  content: "\e620";
}

.ion-ios-report-repair:before {
  content: "\e621";
}

.ion-ios-report-repair-outline:before {
  content: "\e621";
}

.ion-date:before {
  content: "\e623";
}

.ion-delete:before {
  content: "\e624";
}

.ion-device-tec:before {
  content: "\e625";
}

.ion-mission-content:before {
  content: "\e626";
}

.ion-tel:before {
  content: "\e627";
}

.ion-sound:before {
  content: "\e615";
}

.ion-inspeact-repair:before {
  content: "\e616";
}

.ion-estate:before {
  content: "\e622";
}

.ion-Trining-alarm:before {
  content: "\e628";
}
