page-fault-record {
.yellow{
    background-color: #f0ad4e;
    color: #fff;
}
ion-select {
    max-width: 100%;
}
.toolbar-title-ios{
    color: black;
    font-size: 16px;
}
.grid{
    border-bottom: 1px solid #ececec;
  }
}
